
.normal {
  background: #F28579;
}


.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}

.img{
  width: 60px;
  height: 60px;
}
.data{
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #dedede;
  position: relative;
  line-height: 65px;
}
.act{
  height: 65px;
  position: absolute;
  right:0;
}

.btn{
  position: absolute;
  right:0;
}

.sear{
  width: 200px;
  position: absolute;
  right: 100px;
  top: 16px;
}

.title{
position: absolute;
left: 0;
}