
.data{
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #dedede;
    position: relative;
    line-height: 65px;
  }
.act{
    height: 65px;
    position: absolute;
    right:0;
}

.sear{
    width: 200px;
    position: absolute;
    right: 0px;
    top: 16px;
}

.title{
  position: absolute;
  left: 0;
}